

<div class="container">

<% if collections_count == 0 %>
      <div class="empty-collection">
        <div class="empty-collection-img">
         <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1488472724668&di=4379460c42bbe456dcf4e5df451b4628&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201511%2F05%2F20151105105131_GwKdC.thumb.700_0.jpeg" / >
         </div>
        <div class="empty-collection-text">
        亲，你还没有收藏的商品哦！<a href="products">去逛逛吧～</a>
        </div>
        </div>
    <% else %>

<h4 style="margin-left: 20px;margin-top: 20px;">宝贝集合啦～</h4>
<div class="collections c-color-4">
	<div class="label-image"> 商品</div>
	<div class="label-price">单价</div>
	<div class="label-controller">操作</div>
</div>

      <% @products.each do |product| %>

<div class="product c-color-2">
	<div class="product-image">
	    <% if product.photos.present? %>

		               <%= link_to product_path(product) do %>
    				   		<%= image_tag(product.photos[0].image.thumb.url) %>     
                             <% end %>
                     <% else %>
                         <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                             <% end %>
    				   		
	</div>
	<div class="product-description"><%= product.description %></div>
	<div class="product-price">
	 <span style="color: red">	<%= product.price %> </span>
	</div>
	<div class="product-controller">
	         <div>
     	     <%= link_to collection_path(product), method: :delete do %>
               <i class="btn btn-primary fa fa-trash fa-1.5x" ></i>
               </div>
             <% end %>
             <br>
             <div>
              <%= link_to "加入购物车", add_to_cart_product_path(product),  {:style=>'color:#FFFFFF;', :class => "btn btn-danger",:method => :post,} %>

		      </div>
	</div>
	
</div>
 <br/>
        
		<% end %>
		<% end %>
		<div class="total clearfix">
			<span class="pull-right">
				<span style="font-size: 16px;"> 
                
				<% sum = 0 %>
			    <% @products.each do |product| %>
				<% sum = sum + product.price %>
				<% end %>
				总计:  <span style="color: red;font-size: 20px"><%= sum %></span> RMB 
				</span>
			</span>
		</div>
</div>
</div>


















	