<style media="screen">
.c-color-1 {
	background-color: #72632a;  /*黑浅*/
}

.c-color-2 {
	background-color: #FFFFF0;  /*白深*/
}

.c-color-3 {
	background-color: #483C32;  /*黑深*/
}

.c-color-4 {
	background-color: #FFFDD0;  /*黑深*/

}

.collections {
	height: 50px;
	text-align: center;
	border: 1px solid #e8e8e8;
	font-weight: 200px;
	font-size: 16px;
	
}

.label-image {
	width: 48%;
	line-height: 45px;
	display: inline-block;

}

.label-price,.label-controller {
	width: 24%;
	line-height: 50px;
	display: inline-block;
}
	
.product {
	height: 220px;
	text-align: center;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}

.product-image {
	width: 24%;
	display: inline-block;
}

.product-image img {
		margin-top: 5px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    display: inline-block;

}

.product-description {
	width: 24%;
	display: inline-block;
}

.product-price {
	width: 24%;
	display: inline-block;
	line-height: 210px;
}

.product-controller {
	width: 24%;
	display: inline-block;
}

.empty-collection {
		 margin-top: 20px;
		 margin-bottom: 300px;

}

.empty-collection-img{
	 
	 display: inline-block;;
}

.empty-collection-img img {
	 width: 250px; 
	 height: 250px;
	 border-radius: 50px;
	 /*display: inline-block;;*/
}

.empty-collection-text {
    font-size: 25px;
    color: #2a424b;
	display: inline-block;
}

.btn-primary {
color: #fff;
background-color: #483C32;
border-color: #483C32;
}

.btn-danger {
color: #fff;
background-color: #FF0000;
border-color: #dc4022;
}

</style>
   

<div class="container">
<div class="row">
	<div class="col-md-12">
   <br>
	<%= link_to("清空购物车", clean_carts_path, method: :delete, class: "pull-right", style: "text-decoration: underline;", data: { confirm: "你确定要清空整个购物车吗？"}) %>
		
		<h2> 购物车 </h2>
       
        </div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2"> 商品资讯 </th>
					<th>单价</th>
					<th>数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
				<% current_cart.cart_items.each do |cart_item| %>
				<tr>
					<td>
						<%= link_to product_path(cart_item.product) do %>
						<% if cart_item.product.photos.present? %>
						 <%= image_tag(cart_item.product.photos[0].image.thumb.url, class: "thumbnail") %>

						<% else %>
						<%= image_tag("http://placehold.it//200x200&text=No Pic", class: "thumbnail") %>

						<% end %>
						<% end %>
					</td>
                  <td>
                  	<%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                  </td>
                  <td>
                  	<%= cart_item.product.price %>
                  </td>
                  <td>
                 <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>
                 <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                 <%= f.select :quantity, 1..cart_item.product.quantity %>
                 <%= f.submit "更新", data: { disable_with: "Sumbmiting..." } %>
                 <% end %>
                  </td>
                  <td>
             <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
               <i class="fa fa-trash"></i>
             <% end %>
           </td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>

		<div class="total clearfix">
			<span class="pull-right">
				<span> 
				
				总计  <%= render_cart_total_price(current_cart) %> RMB
				</span>
			</span>
		</div>

		<hr>

		<div class="checkout clearfix">
			<%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
		</div>
	</div>
</div>
