<h2> New Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>
<div class="group">
    <%= f.input :category, :collection => ["办公室","客厅", "餐厨", "卧室", "照明和电子产品","配件"], :selected => "办公室" %>
</div>

<div class="group">
	<%= f.input :title %>
</div>

<div class="group">
	<%= f.input :description %>
</div>

<div class="group">
	<%= f.input :quantity %>
</div>

<div class="group">
	<%= f.input :price %>
</div>

<div class="group">
    <%= f.label :image %><br>
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"请上传5张商品图片"）<br>
 </div>

<%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
